[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = 121023187+misskacie@users.noreply.github.com
	name = misskacie
[init]
	defaultBranch = main
